<section>
  <h1>About Me</h1>
  <p>
  	Hey there, my name is Torben Knerr.
  </p>
  <p>
  	I'm a passionate software developer and architect, craftsman, clean-coder, infrastructure-as-code and automation enthusiast. Proud daddy of two :-)
  </p>
  <p>
  	Clean Code and Craftsmanship FTW!
  </p>
  <p>
    <a href="https://twitter.com/tknerr_de"><i class="icon-twitter"></i></a>
    <a href="https://github.com/tknerr"><i class="icon-github"></i></a>
    <a href="http://www.linkedin.com/in/tknerr"><i class="icon-linkedin"></i></a>
    <a href="http://xing.to/tknerr"><i class="icon-xing"></i></a>
  </p>
</section>
